<form method="post">
    {% csrf_token %}

    <style>
        .form-group {
            margin-bottom: 15px; /* Ajusta el valor según tus necesidades */
        }
    </style>

    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}

            {% if field.errors %}
                {{ field.errors }}
            {% endif %}

        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Agregar</button>
</form>

</body>
</html>
